
<form  id="search-form">
  <label for="">Search</label>
  <input id="search" type="text" placeholder="Song, Artist, Album">
 
<button>Submit</button>
 </form>



 <div id="div-container">
<audio id="audio-stuff"></audio>
 </div>