<nav class="navbar-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: white">🐵 MOJOMOJI</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup" style="color: white"><span class="glyphicon glyphicon-user" style="color: white"></span> Sign Up</a></li>
      <li><a href="/login" style="color:white"><span class="glyphicon glyphicon-log-in" style="color:white"></span> Login</a></li>
      {{!-- <li><a href="/auth/spotify" style="color:white"><span class="glyphicon glyphicon-log-in" style="color:white"></span> Login with Spotify</a></li> --}}
    </ul>
  </div>
</nav>
  <div id="particles-js"></div>
